/.project
/.idea/
.spyder*
*.log
profile
convert_pickled_data.py
download_G.SPB.1999-01.py
download_IRIS_data.py
FFT_test.py
GEOSCOPE SAC to pickle.py
GEOSCOPE_GetPAZ.py
get_Iris_earthquakes.py
get_Iris_stations.py
get_Iris_stationsinfos.py
test_elipsoid.py
*.pyc
*~
.fuse_hidden*