#======
[paths]
#======

MSEED_DIR = ../IRIS data                     ; dir of miniseed files
STATIONXML_DIR = ../StationXML files         ; dir of StationXML files
DATALESS_DIR = ../Dataless seed              ; dir of dataless files

CROSSCORR_DIR = ./output/cross-correlation  ; dir of cross-correlation results
FTAN_DIR = ./output/FTAN                    ; dir of FTAN results (including dispersion curves)
TOMO_DIR = ./output/tomography              ; dir of tomographic inversion results

#==================
[cross-correlation]
#==================

USE_DATALESSPAZ = False             ; use dataless files to remove instrument response?
USE_STATIONXML = True               ; use stationXML files to remove instrument response?

FIRSTDAY = 1/1/2000                 ; first day of cross-correlation (d/m/y)
LASTDAY = 31/3/2012                 ; last day of cross-correlation (d/m/y)
MINFILL = 0.99                      ; minimum data fill within day

CROSSCORR_STATIONS_SUBSET = null    ; subset of stations (null if all, else JSON list)
CROSSCORR_TMAX = 2000               ; max time window (s) for cross-correlation
CROSSCORR_SKIPLOCS = ["50"]         ; locations to skip (JSON list)

PERIODMIN = 3.0                     ; bandpass parameters
PERIODMAX = 50.0
CORNERS = 2
ZEROPHASE = True
PERIOD_RESAMPLE = 1.0               ; resample period to decimate traces, after band-pass

ONEBIT_NORM = False                 ; one-bit normalization?
PERIODMIN_EARTHQUAKE = 15.0         ; earthquakes periods band
PERIODMAX_EARTHQUAKE = 50.0

WINDOW_FREQ = 0.0001                ; freq window (Hz) to smooth ampl spectrum

CALC_SPECTRA = False                ; plot spectra (instead of calculating cross-corr)?
SPECTRA_STATIONS = ["NUPB", "PACB"] ; stations (JSON list)
SPECTRA_FIRSTDAY = 1/5/2002
SPECTRA_LASTDAY = 2/5/2002
PLOT_TRACES = True                  ; plot traces OF LAST DAY along with spectra?


#=====
[FTAN]
#=====

# default period bands (JSON list), used to:
# - plot cross-correlation by period bands, in plot_FTAN(), plot_by_period_bands()
# - plot spectral SNR, in plot_spectral_SNR()
# - estimate min spectral SNR, in FTANs()
PERIOD_BANDS = [[5, 15], [10, 20], [15, 25], [20, 30], [25, 35]]

# periods and velocities of FTAN analysis: start, stop and step (JSON lists)
RAWFTAN_PERIODS_STARTSTOPSTEP = [3.0, 45.1, 1.0]
CLEANFTAN_PERIODS_STARTSTOPSTEP = [5.0, 30.1, 1.0]
FTAN_VELOCITIES_STARTSTOPSTEP = [2.0, 5.51, 0.01]

# smoothing parameter of FTAN analysis
FTAN_ALPHA = 20

# Suggested values from bibliography:
#
# Shapiro et al. [2005], S California: curves 6-18 s, maps 7.5-15 s, extension ~5-10°
# PERIOD_BANDS = [[7, 15], [10, 20], [15, 25]]
#
# Yang et al. [2007], Europe: curves and maps 8-50 s, extension ~30°
# PERIOD_BANDS = [[8, 25], [20, 50], [33, 67], [50, 100], [70, 150]]
#
# Lin et al. [2007], New Zealand: curves 5-50 s, maps 7-25 s, extension ~15°
# PERIOD_BANDS = [[5, 14], [10, 25], [15, 35], [20, 50]]


#=====
[maps]
#=====

# paths to shapefiles (coasts, tectonic provinces and labels)

COAST_SHP = ./shapefiles/SouthAmericaCoasts.shp
TECTO_SHP = ./shapefiles/SouthAmericaTectonicElements.shp
TECTO_LABELS = ./shapefiles/SouthAmericaTectonicElementsLabels.shp

# colors of tectonic provinces (JSON dict)

TECTO_COLORS = {
    "Archean": [0.98, 0.88, 1, 1],
    "Phanerozoic": [1, 0.988, 0.831, 1],
    "Neoproterozoic": "0.9"
    }

# bounding box of (large) global maps and (small) inset maps
# (min lon, max lon, min lat, max lat in JSON lists)

BBOX_LARGE = [-70, -30, -32, 8]
BBOX_SMALL = [-65, -35, -29, 1]